# Godot 4+
.godot/
/android/

# Imports/cache antigos
.import/

# Exportações
export.cfg
export_presets.cfg

# Mono/C#
.mono/
data_*/

# Builds/exportados
builds/

# Sistema
.DS_Store
Thumbs.db

# VSCode
.vscode/